
<head>
<title>Contact</title>
</head>



<body>
<div class="container">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Enter Last Name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Enter First Name">

<input type="submit" value="Submit">

</div>

<h1>Small Biography</h1>
<h3>My name is Oguzhan and I am from Izmir which is a city</h3>
<h3>That has a history of 8000 years. As for my first job</h3>
<h3>I worked in a paper factory as an electrician intern</h3>
<h3>Where I learnt many useful things.</h3>
</body>


<style>
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 30vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-top: 5%;
    text-align: center;
  }

  h3 {
      text-align: center;
  }
}
</style>
